:root{
--header_color:  rgb(60, 32, 86);
--border_secondary_color: rgba(65, 69, 67, 0.475);
}
.info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 4px;
        border-bottom: 4px solid green;
        flex-direction: column;
        width: 90vw;
}
.info .name{
    color: var(--header_color);
    text-align: left;
    width: 100%;
}
.subheading{
    color: var(--header_color);
    text-align: left;
    width: 90%;
    margin-left: 20px;
}
.info .address{
    color: var(--header_color);
    width: 100%;
    line-height: 1.3;
    margin: 0;
}
.info a{
    width: 100%;
}
.info .portfolio{
    text-align: right;
    padding: auto;
    width: 90%;
}
.skills{
    width: 90vw;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid green;
}
.skills .skill{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 3px solid var(--border_secondary_color);
    border-radius: 9px;
}
.skill h4{
    margin-left: 50px;
    font-weight: 800;
    color: var(--header_color);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.skill ul{
    width: 15%;
    list-style-type: none;
    color: rgb(4, 39, 4);
    font-weight: 800;
}
.experiences{
    width:90vw;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid green;
}
.circle{
    height: 50px;
    width: 50px;
    border: 4px solid skyblue;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-right: 10px;
}
.circle.active{
    background-color: green;
    z-index: 20;
}
.circle.completed{
    background-color: gray;
    z-index: 20;
}
.experiences .experience{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.cline{
    height: 100px;
    width: 5px;
    background-color: green;
    position: relative;
    top: 150px;
    left: 50px;
}
.experience p{
    font-size: 10px;
    font-weight: 800;
    color: var(--header_color);
    width: 50px;
}
.experience h4{
    height: 100%;
    width: 100px;
    color: var(--header_color);
}
.experience h5{
    color: var(--header_color);
    width: 100px;
}
.experience ul{
    width: 300px;
    list-style-type:upper-alpha
}
.education{
    width: 90vw;
    border-bottom: 4px solid green;
}
.education table{
    width: 90%;
    border : 2px solid black;
    margin-bottom: 10px;
}
.education table td{
    border: 2px solid black;
}
.education table th{
    border: 2px solid black;
}
.Projects{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 4px solid green;
}
.projects_body{
    height: 90%;
    display: flex;
    flex-direction: row;
}
.projects_body .project{
    border-radius: 10px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(232, 219, 219, 0.163);
}
.project .title{
    margin: 5px;
    font-size: 24px;
    color: var(--header_color);
}
.project span{
    margin: 5px;
    font-size: 16px;
    font-weight: 800;
    color: darkslategrey;
}
.project .description{
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    word-wrap: break-word;
}
.certification{
    width: 100%;
    display: flex;
    align-items: center;
}
.certification div{
    width: 300px;
    margin: 10px;
    margin-left: 20px;
}
.certification .highlight{
    width: 700px;
}
